{% extends "layout.html" %}

{% block content %}
        
        <script type="text/javascript" src="{{ url_for('static', filename='edit.js') }}"></script>

        <script>
                var data = {{ data|tojson }}
        </script>

        <div id="successmsg"></div>

        <div>Edit Information</div>
        <div>
                <div class="padip" id="title">Title :<br><input class="ipstyle" id="ititle" type="text"><span class="err" id="errtitle"></span></div>

                <div class="padip" id="imgl">Image Link :<br><input class="ipstyle" id="iimgl" type="text"><span class="err" id="errimgl"></span></div>
                
                <div class="padip" id="year">Year :<br><input class="ipstyle" id="iyear" type="text"><span class="err" id="erryear"></span></div>

                <div class="padip" id="country">Country :<br><input class="ipstyle" id="icountry" type="text"><span class="err" id="errcountry"></span></div>

                <div class="padip" id="summary">Summary :<br><input class="ipstyle" id="isummary" type="text"><span class="err" id="errsummary"></span></div>

                <div class="instr">Input "Popular Trivia" and "Genre" as a list of words/phrases separated by a comma.</div>
                <div class="padip2" id="pop">Popular Trivia :<br><input class="ipstyle" id="ipop" type="text"><span class="err" id="errpop"></span></div>

                <div class="padip" id="genre">Genre :<br><input class="ipstyle" id="igenre" type="text"><span class="err" id="errgenre"></span></div>

                <div class="instr">Rating should be out of 10 and in the format : 7.5/10</div>
                <div class="padip2" id="rating">Rating :<br><input class="ipstyle" id="irating" type="text"><span class="err" id="errrating"></span></div>

                <div class="padip" id="time">Time :<br><input class="ipstyle" id="itime" type="text"><span class="err" id="errtime"></span></div>

                <div class="padip" id="oneline">One line that entices the viewer to visit this castle :<br><input class="ipstyle" id="ioneline" type="text"><span class="err" id="erroneline"></span></div>

                <button id="submit">Submit</button>
                <!-- Button trigger modal -->
                <h2>Modal Example</h2>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Discard Changes
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to discard changes?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No I'm not sure I want to discard changes</button>
              <button type="button" class="btn btn-primary" id="discard">Yes, discard!</button>
            </div>
          </div>
        </div>
      </div>

        </div>

      
{% endblock %}