{% extends "layout.html" %}

{% block content %}
        
        <script type="text/javascript" src="{{ url_for('static', filename='homepage.js') }}"></script>

        <script>
                var most_popular = {{ most_popular|tojson }}
                
        </script>
        <div class="row header">
                
                <img class="homepageimg" src="{{ url_for('static', filename='homepage1.png') }}" alt="collage of castles">
                <div class="homepagetitle">
                        Welcome to Castle Fun! Whether you're a fan of history, architecture, or Dracula, we will help you find a spectacular castle to tour!
                </div>
        </div>

        <div id="popular_week"></div>
{% endblock %}