<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="data:,">

		<!-- jquery -->
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


		<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		



		<title>Castle Fun!</title>
	</head>	
	<body class="basecolour">


		<nav class="navbar navbar-light bgdarkgray">
			<div class="container">
				<a class="navbar-brand sitetitle" href="/">Castle Fun</a>
				<ul class="nav alignleft">
					<li class="nav-item"><a class="nav-link accentcolour addnewitem" href="/add">+Add new item!</a></li>
				      </ul>
				<form action="http://127.0.0.1:5000/search" method="POST" class="form-inline" id="target">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
					<button id="searchbtn" class="btn my-2 my-sm-0 accentcolour" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="container bglightgray">   
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>




