{% extends "layout.html" %}

{% block content %}
        
        <script type="text/javascript" src="{{ url_for('static', filename='view.js') }}"></script>

        <script>
                var data = {{ data|tojson }}
                
        </script>

        <div class="row">
                <div class="col-md-9">
                        <div class="row viewtitlerow">
                                <div class="col-md-10 viewtitle">{{data.title}}</div>
                                <div class="col-md-2 viewrating">{{data.rating}}</div>
                        </div>
                        <div class="row">
                                <div class="image"> <img class="viewimg" src="{{data.image}}" width='800' height='500'> </div>
                        </div>
                        <div class="row viewtime">{{data.time}}</div>
                        <div class="row viewcountryrow"><span class="countrylabel">Country : </span><span class="viewcountry">{{data.country}}</span></div>
                        <div class="row viewsummary">{{data.summary}}</div>
                        <div class="row viewbuiltinrow"><span class="builtinlabel">Built In : </span><span class="viewbuiltin">{{data.year}}</span></div>
                </div>
                <div class="col-md-3">
                        
                        <div class="row genrediv">
                                <div class="genreheader">Popularly Associated With</div>
                                <ul>
                                        {% for element in data.popular  %}
                                                <li class='glistitem'>{{element}}</li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <div class="row genrediv">
                                
                                
                                <div class="genreheader">Genres</div>
                                <ul>
                                        {% for element in data.genres  %}
                                                <li class='glistitem'>{{element}}</li>
                                        {% endfor %}
                                </ul>

                        </div>
                </div>
                <div class="row editbutton"><button class="btn accentcolour" id="edit" type="button">Edit this item</button></div>
                <br>
                <br>
                <br>
        </div>

        
{% endblock %}